<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.task %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td> 
          <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, todo, method: :delete, data: { confirm: 'Are you sure you want to delete the task?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "<button>Add New Task</button>".html_safe, new_todo_path %>
