
<div class="container">
	<div class="row">
    	<div class="col-md-6 col-md-offset-3 text-center todo">
			<h1>To-Do Tracking App</h1>

			<%= link_to "<button>Add New Task</button>".html_safe, new_todo_path %>

			<p id="notice"><%= notice %></p>
			
			<div class="row todo-list">
			<% @todos.each do |todo| %>
				<div class="col-md-12 todo-item border">
					<div class="row">
						<div class="col-md-1 edit">
							<% if todo.done == false %>
								<%= link_to "<span class='glyphicon glyphicon-unchecked'></span>".html_safe, edit_todo_path(todo) %>
							<% else %>
								<%= link_to "<span class='glyphicon glyphicon-ok'></span>".html_safe, edit_todo_path(todo) %>
							<% end %>
						</div>
						<div class="col-md-10 text-left desc">
							<% if todo.done == false %>
            			 	 	<%= link_to todo.task, edit_todo_path(todo) %>
							<% else %>
            			  		<strike><%= todo.task %></strike>
							<% end %>
						</div>
						<div class="col-md-1 delete"> 
							<%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, todo, method: :delete, data: { confirm: 'Are you sure you want to delete the task?' } %>
						</div>
					</div>
				</div>
			<% end %>
		  	</div>
        DELETE ALL ITEMS
		</div>
	</div>
</div>

<br>
